@font-face {
  font-family: 'Daehan';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/yoon/Daehan/DaehanR.woff') format('woff');
}

html, body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);

  color: white;
  height: 100%;
  font-size: 20px;
}

.container {
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.container span {
  background-color: black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.text {
  line-height: 26px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.container span:nth-child(2) {
  background-color: white;
  color: black;
  font-weight: 800;
}

.logo {
  margin-top: 40px;
}

.contact {
  margin-top: 26px;
  font-size: 9pt;
}

.info {
  margin-top: 30px;
  font-size: 9pt;
  color: white;
}

a:link, a:hover, a:visited {
  text-decoration: none;
  color: #e1e1e1;
}